__pycache__/
*.py[cod]
.pytest_cache/
venv/
.venv/
env/
rustworkx_version/benchmark/results/
rustworkx_version/benchmark/topologies/
rustworkx_version/benchmark/*.json
rustworkx_version/benchmark/*.png
rustworkx_version/benchmark/*.tex
rustworkx_version/benchmark/*.pdf
.DS_Store
*.log